

#home{
  height: calc(100vh + 50px);
  min-height: 700px;
  max-height: 1375px;
  color: white;
  padding-top: 20vw;
  background: url("../images/Background Image.png"), linear-gradient(180deg, rgba(0, 0, 0, 0.54) calc(100% - 50px), rgb(249, 249, 249) 100%);
  background-position: center top;
  background-size: cover;
  background-blend-mode: color;



	p{
		font-size: 40px;
		letter-spacing: 2px;
		font-family: "Droid Serif";
		font-style: italic;
	}
	
	b{
		font-size: 75px;
		letter-spacing: -2px;
		font-family: "Montserrat";
		text-align: center;
		text-transform: uppercase;
		line-height: 144px;
	}
}


