#our-amazing-team{

	.items {
		b {
			display: block;
			font-size: 16px;
			letter-spacing: 0px;
			line-height: 50px;
			color: #222222;
			font-family: "Montserrat";
			font-weight: 700;
		}
		
		p {
			display: block;
			font-size: 14px;
			letter-spacing: 0px;
			color: #777777;
			font-family: "Roboto Slab";
			font-weight: 400;
			line-height: 0;
			margin-bottom: 20px;
		}
	
		> div {
			@media (max-width: 800px) {
				margin-top: 40px;
			}
		}
		
	}
	
	img {
		width: 235px;
		height: 235px;
		border: 7px solid #ffffff;
		border-radius: 50%;
		transition: 0.5s border,1s transform;
		
		&:hover {
			border-color: #f4f25c;
			transform: scale(1.1)
		}
	}
	
	.text {
		font-size: 17px;
		color: #777777;
		font-family: "Roboto Slab";
		max-width: 600px;
		margin-top: 45px;
		line-height: 25px;
	}
	
}